<div class="container-fluid">
  <div class="row">
    <div
      class="col-12 content-scroll text-center mt-2"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      [scrollWindow]="false"
    >
      <div class="text-left my-2">
        <button class="btn btn-success" (click)="openProjectAddModal()">
          <i class="fa fa-plus-circle"> New</i>
        </button>
      </div>
      <a [routerLink]="[project.projectId]" *ngFor="let project of projects">
        <div class="border">
          <h4 class="text-left ml-3">Type: {{ project.type | titlecase }}</h4>
          <h4>Name: {{ project.name }}</h4>
        </div>
      </a>
    </div>
  </div>
</div>
