<div class="container-fluid">
  <app-projects-group-invitations
    (project)="onAcceptInvite($event)"
  ></app-projects-group-invitations>
  <div class="row">
    <div
      class="col-12 content-scroll text-center mt-3"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      [scrollWindow]="false"
    >
      <a
        [routerLink]="['../' + project.projectId + '/tasks']"
        *ngFor="let project of projects"
      >
        <div class="border p-2">
          <h4>Name: {{ project.name }}</h4>
        </div>
      </a>
    </div>
  </div>
</div>
