.top-panel {
  position: relative;
  padding: 8px 0;
  background-color: #4e6754;
}

.left-panel {
  position: absolute;
  min-height: 100%;
  width: 15%;
  background-color: #6a8d73;
  z-index: 100;
}

h4 {
  display: inline;
  color: #f4fdd9;
}

a {
  display: block;
}

i {
  color: #f4fdd9;
  font-size: 20px;
}

.project-list {
  font-size: 20px;
}

.nick {
  margin-left: 15px;
  color: #ffe8c2;
}

.btn-nav {
  position: absolute;
  color: #ffe8c2;
  right: 0%;
  top: 5%;
  transition: all 200ms linear;
}

.btn-nav:hover {
  color: #f0a868;
}

.small-list {
  display: none;
}

@media (max-width: 1400px) {
  .left-panel {
    width: 20%;
  }
}

@media (max-width: 1000px) {
  .left-panel {
    width: 25%;
  }
}

@media (max-width: 800px) {
  .left-panel {
    width: 15%;
  }

  h4,
  .big-list {
    display: none;
  }

  .nick,
  .small-list {
    display: block;
  }

  i {
    font-size: 25px;
  }

  a {
    margin-right: 0 !important;
  }
}
