.top-panel {
  position: fixed;
  padding: 8px 0;
  background-color: #4e6754;
  min-width: 100%;
  z-index: 150;
}

.left-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  min-height: 100vh;
  background-color: #6a8d73;
  z-index: 100;
}

.right-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(106, 141, 115, 0.7);
  z-index: 50;
}

h4 {
  display: inline;
  color: #f4fdd9;
}

a {
  display: block;
}

i {
  color: #f4fdd9;
  font-size: 25px;
}

.nick,
.menu-btn {
  margin-left: 15px;
  color: #ffe8c2;
  display: inline;
}

.btn-nav {
  position: absolute;
  color: #ffe8c2;
  right: 0%;
  top: 5%;
  transition: all 200ms linear;
}

.btn-nav:hover {
  color: #f0a868;
}

@media (max-width: 700px) {
  h4 {
    display: none;
  }
  .nick {
    display: none;
  }
}

@media (min-width: 701px) and (max-height: 564px) {
  .right-menu {
    min-height: 564px;
  }
}

@media (max-width: 700px) and (max-height: 498px) {
  .right-menu {
    min-height: 546px;
  }
}
