<div class="top-panel">
  <h4 class="nick">Nickname</h4>
  <a class="btn btn-nav"> <h5>Logout</h5> </a>
</div>
<div class="left-panel text-center">
  <a type="button" class="mt-5 mr-5">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <h4 class="ml-2">Inbox</h4>
  </a>
  <a
    type="button"
    class="mt-5 mr-5 big-list"
    (click)="listsExpanded = !listsExpanded"
  >
    <i class="fa fa-list-ol" aria-hidden="true"></i>
    <h4 class="ml-2">Projects</h4>
  </a>
  <a type="button" class="mt-5 small-list">
    <i class="fa fa-list-ol" aria-hidden="true"></i>
  </a>
  <div *ngIf="listsExpanded">
    <a class="mt-3 ml-4">
      <h4 class="ml-2 ">Personal - 2</h4>
    </a>
    <div>
      <a class="mt-3 ml-4">
        <h4 class="ml-2 project-list">Mój</h4>
      </a>
    </div>
    <a class="mt-3 ml-4">
      <h4 class="ml-2 ">Group - 2</h4>
    </a>
    <div>
      <a class="mt-3 ml-4">
        <h4 class="ml-2 project-list">Wspólny</h4>
      </a>
    </div>
  </div>
  <a type="button" class="mt-5 mr-5">
    <i class="fa fa-fire" aria-hidden="true"></i>
    <h4 class="ml-2">Important</h4>
  </a>
  <a type="button" class="mt-5 mr-5">
    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
    <h4 class="ml-2">Today</h4>
  </a>
  <a type="button" class="mt-5 mr-5">
    <i class="fa fa-calendar" aria-hidden="true"></i>
    <h4 class="ml-2">Next 7 days</h4>
  </a>
  <a type="button" class="my-5  mr-5">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <h4 class="ml-2">Account</h4>
  </a>
</div>
