<div class="top-panel">
  <h4 class="nick">Nickname</h4>
  <a class="btn btn-custom"> <h5>Logout</h5> </a>
</div>
<div class="left-panel text-center">
  <a>
    <h4 class="mt-5 aba">
      <i class="fa fa-user" aria-hidden="true"></i> Profile
    </h4>
  </a>
  <a>
    <h4 class="mt-4"><i class="fa fa-list-ol" aria-hidden="true"></i> List</h4>
  </a>
  <h4 class="mt-4">Task1</h4>
  <h4 class="mt-4">Task1</h4>
</div>
<div class="content">
  <div class="container mt-4 ml-4">
    <div class="row">
      <div class="col-12"></div>
    </div>
  </div>
</div>
