<a type="button" [routerLink]="['../']" class="ml-4 mt-2">
  <i class="fa fa-arrow-left d-inline mr-1" aria-hidden="true"></i>
  <h5 class="d-inline">Back</h5>
</a>

<div class="message-box pt-3 px-1">
  <div class="border">
    <div class="message-from text-left ml-3 mt-2">
      From: {{ message?.from }}
    </div>
    <div class="message-title text-center pb-4">
      Title: {{ message?.title }}
    </div>
  </div>
  <div class="border p-5">
    {{ message?.content }}
  </div>
  <button (click)="deleteMessage()" class="btn btn-danger mt-2 ml-2">
    Delete
  </button>
</div>
