<a type="button" class="ml-4">
  <i class="fa fa-arrow-left d-inline mr-1" aria-hidden="true"></i>
  <h5 class="d-inline">Back</h5>
</a>

<div class="message-box pt-3 px-1">
  <div class="border">
    <div class="message-from text-left ml-3 mt-2">From: User1</div>
    <div class="message-title text-center mb-4">Title: Some title</div>
  </div>
  <div class="border p-5">
    Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
    commodi suscipit dolor sunt aperiam nobis maxime cumque provident mollitia,
    laudantium iste esse voluptas maiores eius officia sint labore perferendis.
    Ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
    sapiente distinctio assumenda tempore molestiae quibusdam fugit temporibus
    nulla optio? Incidunt aut totam nostrum nihil, voluptate doloremque sapiente
    neque numquam maiores! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Sapiente tempora sit iste ducimus quas velit molestias quisquam ut
    temporibus quibusdam voluptatibus voluptatem fugit error cum cumque,
    incidunt qui nobis dignissimos! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Dicta harum facilis rerum quos vero explicabo commodi
    voluptate ab illo! Nisi aliquid necessitatibus debitis? Magni non iste
    reprehenderit, ea labore cupiditate.
  </div>
</div>
