<div class="container-fluid">
  <div class="row">
    <div
      class="col-12 content-scroll text-center"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      [scrollWindow]="false"
    >
      <a
        href="#"
        [routerLink]="[message.messageId]"
        *ngFor="let message of messages"
      >
        <div class="border">
          <h4>From: {{ message.from | titlecase }}</h4>
          <h4>Title: {{ message.title }}</h4>
        </div>
      </a>
    </div>
  </div>
</div>
