<a type="button" [routerLink]="['../']" class="ml-2 my-2">
  <i class="fa fa-arrow-left d-inline mr-1" aria-hidden="true"></i>
  <h5 class="d-inline">Back</h5>
</a>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-2">
      <div class="text-left my-2">
        <button class="btn btn-danger" (click)="deleteProject()">
          <i class="fa fa-trash"> Delete</i>
        </button>
      </div>
      <a>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6">
            <h4 class="text-left">Type:</h4>
            <p>{{ project?.type | titlecase }}</p>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <h4>Name:</h4>
            <p>
              {{ project?.name }}
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <form class="my-2" #changeNick="ngForm">
    <label for="change-name">Change Name</label>
    <input
      [(ngModel)]="model.changeNick"
      name="changeNick"
      required
      type="text"
      class="form-control"
      id="change-name"
    />
    <button [disabled]="!changeNick.valid" class="btn btn-success mt-2">
      Save
    </button>
  </form>
  <app-projects-manage-users [project]="project"></app-projects-manage-users>
</div>
