<div class="container">
  <div class="row">
    <div class="col-12 mt-2">
      <div class="text-left my-2">
        <button class="btn btn-danger">
          <i class="fa fa-trash"> Delete</i>
        </button>
      </div>
      <a>
        <div>
          <h4 class="text-left ml-3">Type:</h4>
          <h4>Name:</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-12 mt-5">
    <form>
      <label for="change-name">Change Name</label>
      <input type="text" class="form-control" id="change-name" />
      <button class="btn btn-success mt-2">Save</button>
    </form>
  </div>
  <div class="row">
    <div
      class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mt-4 user-col d-flex justify-content-center"
    >
      <div class="position-absolute">
        <img
          class="img-responsive"
          src="../../../../assets/images/bear.jpg"
          alt="user"
        />
        <div class="user-info">
          <div class="user-text">
            Nick
          </div>
          <div class="text-center user-delete">
            <button class="btn-danger btn"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mt-4 user-col">
      <div class="position-absolute">
        <img
          class="img-responsive"
          src="../../../../assets/images/bear.jpg"
          alt="user"
        />
        <div class="user-info">
          <div class="user-text">
            Nick
          </div>
          <div class="text-center user-delete">
            <button class="btn-danger btn"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mt-4 user-col">
      <div class="position-absolute">
        <img
          class="img-responsive"
          src="../../../../assets/images/bear.jpg"
          alt="user"
        />
        <div class="user-info">
          <div class="user-text">
            Nick
          </div>
          <div class="text-center user-delete">
            <button class="btn-danger btn"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mt-4 user-col">
      <div class="position-absolute">
        <img
          class="img-responsive"
          src="../../../../assets/images/bear.jpg"
          alt="user"
        />
        <div class="user-info">
          <div class="user-text">
            Nick
          </div>
          <div class="text-center user-delete">
            <button class="btn-danger btn"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
