a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 50px;
  max-height: 50px;
}

.mobile-item {
  display: none;
}

.select-user {
  height: 150px;
  background-color: red;
  z-index: 10;
}

.task-name {
  overflow: hidden;
}

.content-scroll {
  height: 85vh;
}

@media (max-width: 750px) {
  .item {
    display: none;
  }
  .mobile-item {
    display: block;
  }
}
