.task-bg {
  background: url(../../../assets/images/task-bg.jpg) no-repeat;
  background-size: cover;
}

.task-overlay {
  background-color: rgba(0, 0, 0, 0.85);
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

.top-content {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.back-btn {
  color: #28a745;
  transition: all 200ms linear;
}
.back-btn:hover {
  color: #ffe8c2;
}

h2 {
  color: #28a745;
}

h4 {
  color: #f4fdd9;
}

h6 {
  color: #fff;
  font-size: 19px;
}

.new-btn {
  background-color: #28a745;
  transition: all 200ms linear;
  color: #fff;
}
.new-btn:hover {
  background-color: #ffe8c2;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
}

.mobile-item {
  display: none;
}

.select-user {
  height: 150px;
  background-color: red;
  z-index: 10;
}

.task-name {
  overflow: hidden;
}

.content-scroll {
  height: 82vh;
}

.warning {
  color: #ffd900;
  font-size: 21px;
}

.danger {
  color: #ff0019;
  font-size: 21px;
}

.success {
  color: #15e045;
  font-size: 21px;
}

@media (max-width: 750px) {
  .item {
    display: none;
  }
  .mobile-item {
    display: block;
  }
}
