<a type="button" (click)="backClicked()" class="ml-2 my-2">
  <i class="fa fa-arrow-left d-inline mr-1" aria-hidden="true"></i>
  <h5 class="d-inline">Back</h5>
</a>
<div class="text-left ml-2 my-2">
  <button class="btn btn-success" (click)="openTaskAddModal()">
    <i class="fa fa-plus-circle"> New</i>
  </button>
</div>
<div class="container-fluid content-scroll">
  <div class="row">
    <div class="col-12 text-center">
      <h4 class="text-left text-danger mt-5">To be done within 7 days</h4>

      <app-tasks-within-seven></app-tasks-within-seven>

      <h4 class="text-left text-warning mt-5">To be done within 30 days</h4>

      <app-tasks-within-thirty></app-tasks-within-thirty>

      <h4 class="text-left text-success mt-5">
        Over 30 days to go
      </h4>

      <app-tasks-over-thirty></app-tasks-over-thirty>
    </div>
  </div>
</div>
