<a type="button" (click)="backClicked()" class="ml-2 my-2">
  <i class="fa fa-arrow-left d-inline mr-1" aria-hidden="true"></i>
  <h5 class="d-inline">Back</h5>
</a>
<div class="text-left ml-2 my-2">
  <button class="btn btn-success" (click)="openTaskAddModal()">
    <i class="fa fa-plus-circle"> New</i>
  </button>
</div>

<div
  class="container-fluid content-scroll"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="mb-5">{{ project?.name | titlecase }}</h2>
      <div *ngFor="let task of tasks; let i = index">
        <div class="item">
          <div *ngIf="task.timeToEnd >= 0">
            <div class="mt-5">
              <h4 *ngIf="task.timeToEnd == 1">
                Time To End : {{ task.timeToEnd }} day
              </h4>
              <h4 *ngIf="task.timeToEnd > 1">
                Time To End : {{ task.timeToEnd }} days
              </h4>
              <h4 *ngIf="task.timeToEnd == 0">
                Time To End : Today
              </h4>
            </div>
            <div class="border p-2">
              <div class="row align-items-center">
                <div class="col-2" *ngIf="project?.type == 'group'">
                  <span dropdown>
                    <a
                      id="basic-link"
                      dropdownToggle
                      aria-controls="basic-link-dropdown"
                    >
                      <img
                        src="../../../assets/images/bear.jpg"
                        class="img-responsive rounded-circle"
                        alt="Bear"
                      />
                    </a>
                    <ul
                      id="basic-link-dropdown"
                      *dropdownMenu
                      class="dropdown-menu"
                      role="menu"
                      aria-labelledby="basic-link"
                    >
                      <a class="dropdown-item" href="#">Wystrzal8365</a>
                    </ul>
                  </span>
                </div>
                <div class="col-3 task-name">
                  {{ task.name }}
                </div>
                <div class="col-3">
                  <button
                    [disabled]="project?.owner != currentUser"
                    (click)="changePriority(task.taskId, i)"
                    *ngIf="!priorityOpen[task.taskId]"
                    type="button"
                    class="btn"
                    [ngClass]="{
                      'btn-warning': task.priority == 'Medium',
                      'btn-danger': task.priority == 'High',
                      'btn-success': task.priority == 'Low'
                    }"
                  >
                    {{ task.priority }}
                  </button>
                  <select
                    (change)="changePriority(task.taskId, i)"
                    *ngIf="priorityOpen[task.taskId]"
                    class="custom-select mt-1"
                    name="priority"
                    [(ngModel)]="priority"
                  >
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </div>
                <div class="col-3">
                  <button
                    [disabled]="task.taskOwner != currentUser"
                    (click)="changeStatus(task.taskId, i)"
                    *ngIf="!statusOpen[task.taskId]"
                    type="button"
                    class="btn"
                    [ngClass]="{
                      'btn-warning': task.status == 'In Progress',
                      'btn-danger': task.status == 'To Do',
                      'btn-success': task.status == 'Done'
                    }"
                  >
                    {{ task.status }}
                  </button>
                  <select
                    (change)="changeStatus(task.taskId, i)"
                    *ngIf="statusOpen[task.taskId]"
                    class="custom-select"
                    name="status"
                    [(ngModel)]="status"
                  >
                    <option value="Done">Done</option>
                    <option value="In Progress">In Progress</option>
                    <option value="To Do">To Do</option>
                  </select>
                </div>
                <div class="col-1" *ngIf="project?.owner == currentUser">
                  <button
                    class="btn btn-danger"
                    (click)="deleteTask(task.taskId, i)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mobile-item" *ngIf="task.timeToEnd >= 0">
          <div class="mt-5">
            <h4 *ngIf="task.timeToEnd == 1">
              Time To End : {{ task.timeToEnd }} day
            </h4>
            <h4 *ngIf="task.timeToEnd > 1">
              Time To End : {{ task.timeToEnd }} days
            </h4>
            <h4 *ngIf="task.timeToEnd == 0">Time To End : Today</h4>
          </div>
          <div class="border p-2">
            <div class="row align-items-center">
              <div class="col-12 mt-2" *ngIf="project?.type == 'group'">
                <span dropdown>
                  <a
                    id="basic-link"
                    dropdownToggle
                    aria-controls="basic-link-dropdown"
                  >
                    <img
                      src="../../../assets/images/bear.jpg"
                      class="img-responsive rounded-circle"
                      alt="Bear"
                    />
                  </a>
                  <ul
                    id="basic-link-dropdown"
                    *dropdownMenu
                    class="dropdown-menu"
                    role="menu"
                    aria-labelledby="basic-link"
                  >
                    <a class="dropdown-item" href="#">Wystrzal8365</a>
                  </ul>
                </span>
              </div>
              <div class="col-12 mt-2 task-name">
                {{ task.name }}
              </div>
              <div class="col-12 mt-2">
                <button
                  [disabled]="project?.owner != currentUser"
                  (click)="changePriority(task.taskId)"
                  *ngIf="!priorityOpen[task.taskId]"
                  type="button"
                  class="btn"
                  [ngClass]="{
                    'btn-warning': task.priority == 'Medium',
                    'btn-danger': task.priority == 'High',
                    'btn-success': task.priority == 'Low'
                  }"
                >
                  {{ task.priority }}
                </button>
                <select
                  (change)="changePriority(task.taskId)"
                  *ngIf="priorityOpen[task.taskId]"
                  class="custom-select"
                >
                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
                </select>
              </div>
              <div class="col-12 mt-2">
                <button
                  [disabled]="task.taskOwner != currentUser"
                  (click)="changeStatus(task.taskId)"
                  *ngIf="!statusOpen[task.taskId]"
                  type="button"
                  class="btn"
                  [ngClass]="{
                    'btn-warning': task.status == 'In Progress',
                    'btn-danger': task.status == 'To Do',
                    'btn-success': task.status == 'Done'
                  }"
                >
                  {{ task.status }}
                </button>
                <select
                  (change)="changeStatus(task.taskId)"
                  *ngIf="statusOpen[task.taskId]"
                  class="custom-select"
                >
                  <option value="Done">Done</option>
                  <option value="In Progress">In Progress</option>
                  <option value="To Do">To Do</option>
                </select>
              </div>
              <div class="col-12 mt-2" *ngIf="project?.owner == currentUser">
                <button
                  class="btn btn-danger"
                  (click)="deleteTask(task.taskId, i)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
