<div class="container-fluid content-scroll">
  <div class="row">
    <div class="col-12 text-center">
      <h4 class="text-left text-danger mt-5">To be done within 7 days</h4>

      <div class="border p-2">
        <div class="row align-items-center">
          <div class="col-4">
            12345678901234567890
          </div>
          <div class="col-2">
            <img
              src="../../../assets/images/bear.jpg"
              class="img-responsive rounded-circle"
              alt="Bear"
            />
          </div>
          <div class="col-2">
            <a type="button" class="btn btn-warning">
              Medium
            </a>
            <select class="custom-select mt-1">
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
          </div>
          <div class="col-3">
            <select class="custom-select">
              <option value="Abandoned">Done</option>
              <option value="Medium">In Progress</option>
              <option value="Low">To Do</option>
            </select>
          </div>
        </div>
      </div>

      <h4 class="text-left text-warning mt-5">To be done within 30 days</h4>

      <div class="border">
        <h4>To: 1234567890</h4>
        <h4>Title: 1234567890234234</h4>
      </div>

      <h4 class="text-left text-success mt-5">
        Over 30 days to go
      </h4>
    </div>
  </div>
</div>
